USE [student]
GO
/****** Object:  Table [dbo].[students]    Script Date: 5/6/2026 8:35:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[age] [int] NOT NULL,
	[email] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([id], [name], [age], [email]) VALUES (1, N'Cao Đình Bảo', 20, N'bao105833@donga.edu.vn')
INSERT [dbo].[students] ([id], [name], [age], [email]) VALUES (2, N'Đinh Ngọc Thế Nhân', 20, N'Nhan123@gmail.com')
INSERT [dbo].[students] ([id], [name], [age], [email]) VALUES (3, N'Hoàn Trường Ân', 20, N'an@gmail.com')
SET IDENTITY_INSERT [dbo].[students] OFF
GO
